$color-primary-dark: #47535a;
$color-shadow: hsla(0, 0%, 0%, 0.25);
$color-grass: hsl(134, 39%, 50%);
$color-cloud-shadow: hsla(198, 42%, 58%, 1);
$color-sun: hsla(36, 96%, 59%, 1);
$color-sky: linear-gradient(
	180.4deg,
	rgba(134, 198, 242, 0.99) 11.4%,
	rgba(175, 220, 248, 0.99) 35.75%,
	rgba(218, 243, 254, 0.99) 63.27%
);
