@import './colors';

$shadow-primary: 17px 27px 21px -6px $color-shadow;
$shadow-text: 2px 2px 4px $color-shadow;
$shadow-clouds: 0.360px 3.60px 7px $color-cloud-shadow;
$shadow-cloud-low: 0.360px 210px 7px $color-shadow;
$shadow-cloud-high: 0.360px 440px 7px $color-shadow;
$shadow-sun: 0 0 100px $color-sun;
$shadow-math-block: 4px 4px 8px $color-shadow;
