@import "./styles";

$pixel-size: 15;

.chicken {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	image-rendering: pixelated;
	overflow: hidden;
	width: calc(4.2px * $pixel-size);
	height: calc(4.2px * $pixel-size);
}

.spritesheet {
	position: absolute;
	inset: 0;
	width: calc(1.9rem * $pixel-size);
	aspect-ratio: 1;
	animation: animateSprite 2s steps(7) 2s infinite;
}

.peter {
	position: absolute;
	top: -1.5rem;
	left: 20rem;
	z-index: 1;
}

.mary {
	position: absolute;
	top: -1.5rem;
	right: 25em;
	z-index: 1;
}

.andrew {
	position: absolute;
	top: -1rem;
	left: 5rem;
	z-index: 1;
}

.eron {
	position: absolute;
	top: -1rem;
	right: 15rem;
	z-index: 1;
}

.roy {
	position: absolute;
	top: -3rem;
	left: 15rem;
	z-index: 1;
}

.bob {
	position: absolute;
	top: -3rem;
	right: 19rem;
	z-index: 1;
}

.maroni {
	position: absolute;
	top: -1rem;
	left: 40rem;
	z-index: 1;
}

.bobJr {
	position: absolute;
	top: -2rem;
	left: 30rem;
	z-index: 1;
}

.joshua {
	position: absolute;
	top: -1rem;
	left: 46rem;
	z-index: 1;
}

.shayan {
	position: absolute;
	top: -1rem;
	left: 27rem;
	z-index: 1;
}
