@import "./styles";

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	user-select: none;
	min-height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100rem;

	gap: 3rem;
	color: $color-primary-dark;
}

.title {
	font-size: clamp(3rem, 7vw, 6.5rem);
	text-align: center;
	text-shadow: $shadow-text;
}

.gameOverContainer {
	display: flex;
	flex-direction: column;
	max-width: 100rem;
	gap: 3rem;
	align-items: center;
	justify-content: space-around;

	.gameOverTitle {
		font-size: clamp(5rem, 7vw, 6.5rem);
		color: $color-sun;
	}

	.gameOverButton {
		font-size: clamp(2rem, 2vw, 5rem);
		color: $color-primary-dark;
		background: $color-sun;
		border: 1px solid $color-sun;
		border-radius: 25px;
		padding: 1rem;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		&:hover {
			background: $color-primary-dark;
			color: $color-sun;
		}
	}
}
